<!DOCTYPE html>
<html>

<%- include('../partials/head'); %>

<body>

    <div id="houseID" class="d-none"><%= house_id %></div>

    <%- include('../partials/header', { view_title: 'Electricity managment' }); %>

    <%- include('../partials/sideBar', { view: 'electricityManagment' }); %>

    <div id="content">

        <section>

            <div class="row">
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-xs-6 px-2">
                            <div class="card">
                                <div class="card-body">
                                    <p class="h6 m-0"><small class="text-muted">Production</small></p>
                                    <p class="m-0">
                                        <span id="production" class="h4 font-weight-bold m-0"></span>
                                        <small class="text-muted"> Wh</small>
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="col-xs-6 px-2">
                            <div class="card">
                                <div class="card-body">
                                    <p class="h6 m-0"><small class="text-muted">Consumption</small></p>
                                    <p class="m-0">
                                        <span id="consumption" class="h4 font-weight-bold m-0"></span>
                                        <small class="text-muted"> Wh</small>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row mt-3">
                        <div class="col-xs-6 px-2">
                            <div class="card">
                                <div class="card-body">
                                    <p class="h6 m-0"><small class="text-muted">Total production</small></p>
                                    <p class="m-0">
                                        <span id="totalProduction" class="h4 font-weight-bold m-0"></span>
                                        <small class="text-muted"> Wh</small>
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="col-xs-6 px-2">
                            <div class="card">
                                <div class="card-body">
                                    <p class="h6 m-0"><small class="text-muted">Buffer filling</small></p>
                                    <p class="m-0">
                                        <span id="bufferFilling" class="h4 font-weight-bold m-0"></span>
                                        <small class="text-muted"> %</small>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 ml-auto">
                    <img id="houseImage" class="img-fluid" alt="house">
                    <% if(typeof preview_user_id == 'undefined') { %>
                    <button id="uploadHouseImage" type="button" class="btn btn-primary btn-lg btn-block">Upload</button>
                    <% } %>
                </div>
            </div>

        </section>

        <section>

            <div class="row">
                <div class="col-lg-6 pr-lg-5 border-right-white-lg">
                    <div class="section-title">
                        <h2>Excessive production</h2>
                        <h6>Electricity will be sent to the market anyway is the buffer is full.</h6>
                    </div>

                    <form id="excessiveProductionForm" method="post" action="/api/house/update-excessive-production">
                        <div class="form-groupr">
                            <label for="excessiveProductionBufferPercentage" class="m-0">Production destination</label>
                            <div class="input-group align-items-cente">
                                <p class="input-group-prepend pt-1">To buffer (<span id="toBuffer"></span> %)</p>
                                <input type="range" class="form-control-range form-control mx-3" id="excessiveProductionBufferPercentage">
                                <p class="input-group-append pt-1">To market (<span id="toMarket"></span> %)</p>
                            </div>
                        </div>
                        <% if(typeof preview_user_id == 'undefined') { %>
                        <div class="d-flex justify-content-end mt-3">
                            <button type="reset" class="btn btn-danger mr-2">Reset</button>
                            <button type="submit" class="btn btn-primary">Save</button>
                        </div>
                        <% } %>
                    </form>
                </div>

                <div class="col-lg-6 pl-lg-5 border-left-white-lg">
                    <div class="section-title">
                        <h2>Under-production</h2>
                        <h6>Electricity will be taken from the market anyway is the buffer is empty.</h6>
                    </div>

                    <form id="underProductionForm" method="post" action="/api/house/update-under-production">
                        <div class="form-group">
                            <label for="excessiveProductionBufferPercentage" class="m-0">Production destination</label>
                            <div class="input-group align-items-center">
                                <p class="input-group-prepend pt-1">From buffer (<span id="fromBuffer"></span> %)</p>
                                <input type="range" class="form-control-range form-control mx-3" id="underProductionBufferPercentage">
                                <p class="input-group-append pt-1">From market (<span id="fromMarket"></span> %)</p>
                            </div>
                        </div>
                        <% if(typeof preview_user_id == 'undefined') { %>
                        <div class="d-flex justify-content-end mt-3">
                            <button type="reset" class="btn btn-danger mr-2">Reset</button>
                            <button type="submit" class="btn btn-primary">Save</button>
                        </div>
                        <% } %>
                    </form>
                </div>
            </div>

        </section>

        <section>

            <%- include('../partials/chart/productionChart'); %>

        </section>

        <%- include('../partials/footer'); %>
    </div>

    <%- include('../partials/messages'); %>

    <%- include('../partials/scripts', { view: `electricityManagment-prosumer` }); %>

</body>

</html>
