<!DOCTYPE html>
<html>

<%- include('../partials/head'); %>

<body>
    <%- include('../partials/sideBar'); %>

    <div id="content">
        <%- include('../partials/header'); %>

        <section class="container-fluid">

            <div class="row">
                <div class="col-md-3">
                    <div class="card">
                        <div class="card-body">
                            <p class="h5"><small class="text-muted">Production</small></p>
                            <p><span id="production"></span> MWh</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="card">
                        <div class="card-body">
                            <p class="h5"><small class="text-muted">Buffer filling</small></p>
                            <p><span id="bufferFilling"></span> %</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 ml-auto">
                    <button id="startAndStop" type="button" class="btn btn-danger btn-lg btn-block">Stop</button>
                </div>
            </div>

        </section>

        <section class="container-fluid">

            <h2 class="h2 mb-0">Production</h2>

            <p class="h5">
                <small class="text-muted">
                    Electricity will be sent to the market anyway is the buffer is full.
                </small>
            </p>

            <form id="productionForm" method="post" action="/api/coal-power-plant/update-production">
                <input type="text" class="d-none" id="productionCoalPowerPlantID" value="1">
                <div class="form-group input-group">
                    <p class="input-group-prepend pt-1">To buffer (<span id="toBuffer"></span> %)</p>
                    <input type="range" class="form-control-range form-control mx-3" id="productionBufferPercentage">
                    <p class="input-group-append pt-1">To market (<span id="toMarket"></span> %)</p>
                </div>
                <button type="reset" class="btn btn-danger">Reset</button>
                <button type="submit" class="btn btn-primary">Save</button>
            </form>

        </section>

        <section class="container-fluid">

            <%- include('../partials/chart/productionChart'); %>

        </section>

        <%- include('../partials/footer'); %>
    </div>

    <%- include('../partials/scripts', { view: `electricityManagment-admin` }); %>
</body>

</html>
