<!DOCTYPE html>
<html>

<%- include('../partials/head'); %>

<body>
    <%- include('../partials/sideBar'); %>

    <div id="content">
        <%- include('../partials/header'); %>

        <h2 class="h2">Home page</h2>

        <%- include('../partials/footer'); %>
    </div>

    <%- include('../partials/messages'); %>

    <%- include('../partials/scripts'); %>
</body>

</html>
