<!DOCTYPE html>
<html>

<%- include('../partials/head'); %>

<body>
    <%- include('../partials/sideBar'); %>

    <div id="content">
        <%- include('../partials/header'); %>

        <h3>Home page</h3>

        <%- include('../partials/footer'); %>
    </div>

    <%- include('../partials/scripts'); %>
</body>

</html>
