<!DOCTYPE html>
<html>

<%- include('../partials/head'); %>

<body>
    <%- include('../partials/sideBar'); %>

    <% if(user_type == 'admin') { %>
    <div id="coalPowerPlantID" class="d-none"><%= coal_power_plant_id %></div>
    <% } else { %>
    <div id="houseID" class="d-none"><%= house_id %></div>
    <% } %>

    <div id="content">
        <%- include('../partials/header'); %>

        <section class="container-fluid">

            <%- include('../partials/chart/productionChart'); %>

            <div class="row">
                <div class="col-lg-4">
                    <%- include('../partials/chart/windChart'); %>
                </div>

                <div class="col-lg-4">
                </div>

                <div class="col-lg-4">
                    <%- include('../partials/chart/bufferChart'); %>
                </div>
            </div>

        </section>

        <%- include('../partials/footer'); %>
    </div>

    <%- include('../partials/messages'); %>

    <%- include('../partials/scripts', { view: `home` }); %>
</body>

</html>
