<!DOCTYPE html>
<html>

<%- include('../partials/head'); %>

<body>

    <%- include('../partials/header', { view_title: 'Reset password' }); %>

    <div id="content" class="ml-0">

        <section class="d-flex justify-content-center align-items-center flex-column" style="padding-top: 15vh">

            <form id="initResetPasswordForm" method="post" action="/api/auth/init-reset-password">
                <div class="form-group">
                    <label for="initResetPasswordEmail">Email</label>
                    <input type="email" class="form-control" id="initResetPasswordEmail">
                </div>
                <button type="submit" class="btn btn-primary btn-block">Reset</button>
            </form>

        </section>

        <%- include('../partials/footer'); %>
    </div>

    <%- include('../partials/messages'); %>

    <%- include('../partials/scripts', { view: 'initResetPassword' }); %>

</body>

</html>
