<!DOCTYPE html>
<html>

<%- include('../partials/head'); %>

<body>

    <div id="content">
        <%- include('../partials/header'); %>

        <h2>Reset password</h2>

        <form id="resetPasswordForm" method="post" action="/api/auth/reset-password">
            <input type="hidden" id="resetPasswordHash" value=<%= hash %>>
            <div class="form-group">
                <label for="resetPasswordPassword">New password</label>
                <input type="password" class="form-control" id="resetPasswordPassword">
            </div>
            <div class="form-group">
                <label for="resetPasswordPasswordConfirmation">New password (confirmation)</label>
                <input type="password" class="form-control" id="resetPasswordPasswordConfirmation">
            </div>
            <button type="submit" class="btn btn-primary">Change</button>
        </form>

        <%- include('../partials/footer'); %>
    </div>

    <%- include('../partials/scripts', { view: 'resetPassword' }); %>
</body>

</html>
