<!DOCTYPE html>
<html>

<%- include('../partials/head'); %>

<body>

    <%- include('../partials/header', { view_title: 'Template' }); %>

    <%- include('../partials/sideBar', { view: 'template' }); %>

    <div id="content">

        <!-- Content -->

        <%- include('../partials/footer'); %>
    </div>

    <%- include('../partials/messages'); %>

    <%- include('../partials/scripts', { view: 'template' }); %>

</body>

</html>
